
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.dark2 {
    color: #474747;
}
.bg-secondary {
    background-color: #FFF8F3;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title {
   font-weight: 800px;
   font-size: 45px; 
}
.text-primary {
    color: #FD6E0A;
}
nav ul {
    display: flex;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
nav ul li {  
    list-style: none;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.btn {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35 px;
    color: white;
    border: none;
    border-radius: 5px;
    height: 64px;
    width: 150px;
    cursor: pointer;
}
.banner-greetings {
 font-size: 45px;
 font-weight: 600;   
}
.banner-name {
    font-size: 85px;
    font-weight: bold;
}
.banner-description {
    font-size: 18px;
    margin-bottom: 36px;
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content {
    max-width: 585px;
    max-height: 356px;
}
header {
    background-image: url('./images/developer.png'), url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
    display: flex;
    justify-content: center;
}
main {
    max-width: 1140px;
    margin: 0 auto;
}
.about {
    margin: 130px 0px;
    padding: 131px 156px;
}
.about-description {
    color: #757575;
    font-size: 18px;
}
.about-items {
    display: flex;
    justify-content: space-between;
}
.about-item {
    align-content: center;
    padding: 0 22.5px;
}
.item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}
.item-description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}
.skills-title {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.skills-description {
    color: #757575;
    font-size: 18px;
    max-width: 909px;
    max-height: 90px;
    margin: 30px 100px;
    text-align: center;
}
.card-container {
    display: flex;
    margin: 50px 10px;
    gap: 24px;
}
.card {
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.resume-sum {
    display: flex;
}
.resume-sum-title {
    margin-top: 130px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.resume-coloumn {
    margin-top: 113px;
    margin-bottom: 50px;
    margin-right: 71px;
}
.cv-download {
    display: block;
    margin: auto;
}
footer {
    padding: 130px 20px;
    display: flex;
    gap: 100px;
}
.col-title {
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
}
.col-des {
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}
.footer-img {
    margin-right: 24px;
}
footer input[type="text"], footer input[type="email"], footer textarea {
    height: 32px;
    border-radius: 5px;
    width: 100%;
    border-color: white;
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    
}
.exp-title {
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 25px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0%;
text-align: left;
}
.resume-coloumn-title {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: left;
}
.exp-subtitle {
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}
.exp-description {
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}