
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title {
   font-weight: 800px;
   font-size: 45px; 
}
.text-primary {
    color: #FD6E0A;
}
nav ul {
    display: flex;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
nav ul li {  
    list-style: none;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.btn {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35 px;
    color: white;
    border: none;
    border-radius: 5px;
    height: 64px;
    width: 150px;
}